#poem {
  /* FIXME Set this to be relevant to word research assistant */
  margin-bottom: 500px;
}

.letter-X {
  background-color: #d9dddc;
}

.letter-A {
  background-color: #f5ea92;
}

.letter-B {
  background-color: #ffc300;
}

.letter-C {
  background-color: #ff9233;
}

.letter-D {
  background-color: #ff5733;
}

.letter-E {
  background-color: #c70074;
}

.letter-F {
  background-color: #c70039;
}

.letter-G {
  background-color: #900c3f;
}

.letter-H {
  background-color: #581845;
}
