#poem {
  /* FIXME Set this to be relevant to word research assistant */
  margin-bottom: 500px;
}

.letter-x {
  background-color: #d9dddc;
}

/* Skipping 0th place */
.letter-1 {
  background-color: #f5ea92;
}

.letter-2 {
  background-color: #ffc300;
}

.letter-3 {
  background-color: #ff9233;
}

.letter-4 {
  background-color: #ff5733;
}

.letter-5 {
  background-color: #c70074;
}

.letter-6 {
  background-color: #c70039;
}

.letter-7 {
  background-color: #900c3f;
}

.letter-8 {
  background-color: #581845;
}
