#poem-display
{
  margin: 30px;
  display: inline-block;
}

#poem-header
{
  margin: 10px;
}

#poem-title
{
  font-weight: bold;
}

#poem-author
{
  font-style: italic;
}

.poem-stanza
{
  margin: 10px;
}

.line
{
  display: flex;
  justify-content: space-between;
}

.scheme.letter
{

  padding: 5px;
  margin: 2px;
  border-radius: 2px;
}
