#input-form
{
    position: sticky;
    bottom: 0;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    display: inline-block;
    background-color: lightgray; /* FIXME Come up with some actual UI design */
}

#rhyme-scheme
{
    width: 400px;
}

#scheme-warning
{
    color: red;
    font-size: 12px;
    margin-top: 2.5px;
}

#rhyme-scheme-examples
{
    display: inline-block;
    height: 90px;
    overflow-x: auto;
}

.example-scheme
{
    background-color: grey;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.example-scheme.active
{
    border: 5px solid white;
}