.stanza {
    margin: 30px 20px;
}

.stanza .header {
    display: flex;
    justify-content: space-between;
}

.stanza .tabs {
    display: inline;
    flex-grow: 1;
    justify-self: end;
    text-align: right;
}

.stanza .tabs > * {
    margin-left: 1px;
    border: 0px;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    padding: 5px 15px;
    background-color: #CCCCCC;
}

.stanza .tabs > *:disabled {
    font-weight: bold;
    color: black;
    background-color: #EEEEEE;
}

.stanza .tabs > *:not(:disabled):hover {
    cursor: pointer;
    background-color: #DDDDDD;
}

/* FIXME .display's on top of each other for the border-top-left-radius: 0 */
.stanza .display {
    padding: 5px;
    border-radius: 5px;
    border-top-right-radius: 0;
    background-color: #EEEEEE;
}

.stanza:not([data-mode='lines']) .display.lines {
    display: none;
}

.stanza:not([data-mode='notes']) .display.notes {
    display: none;
}

.stanza .line {
    border: 1px inset grey;
    border-radius: 5px;
    margin: 5px;
    z-index: 0;
    height: 45px;
    width: 98.5%;
    display: block;
    margin: 5px;
    font-size: 40px;
    background-image: var(--letter-background);
    background-position: right center;
    background-repeat: no-repeat;
}

.stanza .display.notes > textarea {
    width: 98.5%;
}
