html {
    padding: 20px;
}

#example-poem.no-scheme {
    font-style: italic;
}

#example-poem:not(.hover-X) .letter-X,
#example-poem:not(.hover-A) .letter-A,
#example-poem:not(.hover-B) .letter-B,
#example-poem:not(.hover-C) .letter-C,
#example-poem:not(.hover-D) .letter-D,
#example-poem:not(.hover-E) .letter-E,
#example-poem:not(.hover-F) .letter-F,
#example-poem:not(.hover-G) .letter-G
{
    background-color: transparent;
}

.scheme-letter {
    font-style: italic;
}

.example-stanza {
    margin-bottom: 10px;
}

.example-stanza .title {
    font-size: small;
    color: #787276;
}

.example-line {
    border: 1px solid white;
}
